{% extends 'store/base.html' %}
{% load static %}

{% block content %}

    <div class="p-5 text-center">
        <h1 class="text-4xl font-bold">Orders</h1>
    </div>

    <section class="orders w-full md:w-11/12 mx-auto my-8 px-2 md:px-10 py-5 md:flex gap-4 md:flex-col overflow-x-auto shadow-lg rounded-lg">

        {% for order in orders %}
            <p class="font-bold text-lg text-center mt-10">Order ID: {{ order.id }}</p>
    
            <div class="grid grid-cols-4 gap-3 shadow-sm border-b-2 border-gray-400 pb-2">
                <div class="text-start font-bold min-w-[100px]">Order</div>
                <div class="text-center font-bold min-w-[100px]">Product</div>
                <div class="text-center font-bold min-w-[100px]">Quantity</div>
                <div class="text-center font-bold min-w-[100px]">Price</div>
            </div>
            {% for order_detail in order.orderdetail_set.all %}
    
                <div class="grid grid-cols-4 gap-3 p-2 shadow-sm border-b-[1px] border-gray-300 pb-2 cursor-pointer hover:bg-blue-300 hover:rounded-lg">
                    <div class="text-start min-w-[100px]">{{ order_detail.id }}</div>
                    <div class="text-center min-w-[100px]">{{ order_detail.product.name }}</div>
                    <div class="text-center min-w-[100px]">{{ order_detail.quantity }}</div>
                    <div class="text-center min-w-[100px]">{{ order_detail.price }}</div>
                </div>
    
            {% endfor %}
            
            <div class="flex">
                <div class="font-bold min-w-[80px]">Shipped</div>
                <div class="min-w-[100px] flex justify-start items-center">
                    {% if order.shipping.is_shipped %}
                        <img class="h-[20px]" src="{% static 'images/icon-yes.svg' %}" alt="" srcset="">
                    {% else %}
                        <img class="h-[20px]" src="{% static 'images/icon-no.svg' %}" alt="" srcset="">
                    {% endif %}
                </div>
            </div>

            <div class="flex">
                <div class="font-bold min-w-[80px]">Delivered</div>
                <div class="min-w-[100px] flex justify-start items-center">
                    {% if order.shipping.is_delivered %}
                        <img class="h-[20px]" src="{% static 'images/icon-yes.svg' %}" alt="" srcset=""> &nbsp;&nbsp;({{ order.shipping.delivered_date|date }})
                    {% else %}
                        <img class="h-[20px]" src="{% static 'images/icon-no.svg' %}" alt="" srcset="">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        

        {% if not orders %}
            <div class="w-full flex justify-center items-center">
                <p class="text-gray-500">No orders found</p>
            </div>
        {% endif %}
    </section>


    


{% endblock content %}